<button class="addPot" (click)="addNewPotActive=true">Create Pot</button>

<div class="addPotContainer container" *ngIf=addNewPotActive>
  <form #form="ngForm" (ngSubmit)="createPot(form)" novalidate>
    <input type="text" required placeholder="Pot name" name="name" ngModel #potName>
    <input type="text" required placeholder="Account name" name="accountName" ngModel #accountName>
    <button (click)="addNewPotActive = false">Cancel</button>
    <button type="submit" [disabled]="!form.valid">Create</button>
  </form>
</div>

<div class="pot container" *ngFor="let pot of pots">
  <div class="summary" *ngIf="summaryActive">
    <div class="iconContainer">
      <img class="potIcon" [src]="pot.icon"/>
    </div>
    <div class="potDetailsContainer">
      <h2 class="potBalance">£{{ pot.getBalance() }}</h2>
      <h3 class="potName">{{ pot.name }}</h3>
      <h4 class="accountName">{{ pot.accountName }}</h4>
      <img class="progress" [src]="pot.progress"/>
    </div>
    <div class="buttonContainer">
      <button (click)="depositFunds()">Deposit</button>
      <button (click)="withdrawFunds()">Withdraw</button>
    </div>
  </div>

  <div class="depositFunds" *ngIf="depositFundsActive">
    <form #form="ngForm" (ngSubmit)="confirmDeposit(depositAmount.value)" novalidate>
      <input type="number" required placeholder="0.00" min="0" step=".01" name="depositAmount" ngModel #depositAmount>
      <button (click)="returnToSummary()">Cancel</button>
      <button type="submit" [disabled]="!form.valid">Deposit</button>
    </form>
  </div>

  <div class="withdrawFunds" *ngIf="withdrawFundsActive">
    <form #form="ngForm" (ngSubmit)="confirmWithdrawal(withdrawalAmount.value)" novalidate>
      <input type="number" required placeholder="0.00" min="0" step=".01" name="withdrawalAmount" ngModel #withdrawalAmount>
      <button (click)="returnToSummary()">Cancel</button>
      <button type="submit" [disabled]="!form.valid">Withdraw</button>
    </form>
  </div>
</div>
