<div class="pot">
  <div class="summary" *ngIf="displaySummary()">
    <div class="iconContainer">
      <img class="potIcon" [src] = 'potIcon'/>
    </div>
    <div class="potDetailsContainer">
      <h2 class="potBalance">£{{getPotBalance()}}</h2>
      <h3 class="potName">{{potName}}</h3>
      <h4 class="accountName">{{accountName}}</h4>
      <img class="progress" [src] = 'progress'/>
    </div>
    <div class="buttonContainer">
      <button (click)="depositFunds()">Deposit</button>
      <button (click)="withdrawFunds()">Withdraw</button>
    </div>
  </div>

  <div class="depositFunds" *ngIf="displayDeposit()">
    <input type="number" min="0" step=".01" #depositAmount/>
    <button (click)="returnToSummary()">Cancel</button>
    <button (click)="confirmDeposit(depositAmount.value)" disabled>Deposit</button>
  </div>

  <div class="withdrawFunds" *ngIf="displayWithdraw()">
    <input type="number" min="0" step=".01" #withdrawalAmount/>
    <button (click)="returnToSummary()">Cancel</button>
    <button (click)="confirmWithdrawal(withdrawalAmount.value)" disabled>Withdraw</button>
  </div>
</div>
