<div class="pot">
  <div class="summary" *ngIf="displaySummary()">
    <h2 class="potBalance">£{{getPotBalance()}}</h2>
    <h3 class="potName">{{potName}}</h3>
    <img class="potIcon" [src] = 'potIcon'/>
    <img class="progress" [src] = 'progress'/>
    <button (click)="depositFunds()">+</button>
    <button (click)="withdrawFunds()">-</button>
  </div>

  <div class="depositFunds" *ngIf="displayDeposit()">
    <h2>Deposit Funds</h2>
    <input type="number" min="0" step=".01" #depositAmount/>
    <button (click)="confirmDeposit(depositAmount.value)">Deposit</button>
  </div>

  <div class="withdrawFunds" *ngIf="displayWithdraw()">
    <h2>Withdraw Funds</h2>
    <input type="number" min="0" step=".01" #withdrawalAmount/>
    <button (click)="confirmWithdrawal(withdrawalAmount.value)">Withdraw</button>
  </div>
</div>
